:root {
    --primary-color: white;
    --secondary-color: hsl(212, 45%, 89%);
    --bacground-color: hsl(216, 15%, 48%);

    --heading-font: 'Outfit', sans-serif;
    --body-font: 'Karla', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bacground-color);
}

.qr-image {
    margin-top: 60px;
}

image {
    align-items: center;
}

.container {
    height: 577px;
    width: 401px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: auto;
    justify-content: center;
}

.heading-title {
    font-family: var(heading-font);
    font-size: 24px;
}

.description-card {
    font-family: var(--body-font);
    font-size: 15px;
}